body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #bdc00f, #be4a23);
    text-align: center;
}

h1, h2 {
    color: #333;
}

#welcomeSection, #rulesSection {
    margin-top: 50px;
}

.welcome-animation {
    animation: fadeIn 2s ease-in-out;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff9a8b;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #ff6a61;
}

.rules-container {
    background: rgba(255, 255, 224, 0.9);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: left;
}

#quiz-container.wedding-card {
    background: rgba(255, 240, 245, 0.9);
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    position: relative;
    animation: bookPageTurn 1s ease-out;
}

.option {
    background-color: #ffe0e6;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.option:hover {
    transform: scale(1.1);
}

.timer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
}

.animation {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    font-size: 24px;
    background-color: rgba(0, 255, 0, 0.7);
    color: #fff;
    border-radius: 10px;
}

@keyframes bookPageTurn {
    0% {
        transform: rotateY(-90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
